---
import BaseHead from "./BaseHead.astro";
import Footer from "./Footer.astro";
import FormattedDate from "./FormattedDate.astro";
import Header from "./Header.astro";

interface Props {
  title: string;
  description: string;
  date?: Date;
  useRss?: boolean;
  dir?: "auto" | "rtl" | "ltr";
}
const { title, description, date, useRss = false, dir = "auto" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} useRss={useRss} />
    <slot name="head" />
  </head>
  <body>
    <Header />
    <main dir={dir}>
      <article>
        <h1>{title}</h1>
        {
          date && (
            <h3 style="text-align: center;">
              <FormattedDate date={date} />
            </h3>
          )
        }
        <slot name="pagenav" />
        <section>
          <slot />
        </section>
        <slot name="pagenav" />
      </article>
    </main>
    <Footer />
  </body>
</html>
